<div id="<%= dom_id photo %>">
  <p>
    <strong>Title:</strong>
    <%= photo.title %>
  </p>

  <p>
    <strong>Image file:</strong>
    <%= link_to photo.image_file.filename, photo.image_file if photo.image_file.attached? %>
  </p>

  <p>
    <strong>User:</strong>
    <%= photo.user_id %>
  </p>

</div>
