<h2>写真一覧</h2>

<% unless my_tweet_authorized? %>
  <%= link_to 'MyTweetAppと連携', oauth_authorize_path %>
<% end %> 
<br>
<%= link_to '写真アップロード', new_photo_path %>

<ul class="photos">
  <% @photos.each do |photo| %>
    <li class="photo">
      <p><%= photo.title %></p>
      <%= image_tag photo.image_file.variant(:thumb) %>
    </li>
  <% end %>
<ul>

<%# 画面のデザインは仕様で書かれていないため、仕様の範囲外だと認識し、 %>
<%# 作業効率を向上のため、以下のように仮実装しました %>
<style>
  .photos {
    display: flex;
    justify-content: center;
  }

  .photo {
    list-style: none;
    text-align: center;
  }

  .photo:nth-child(2) {
    margin: 0 10px;
  }
}
</style>
